name: cicd pipeline
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout files
        uses: actions/checkout@v4
      
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install dependicies
        run: |
          pip install --upgrade pip
          pip install -r requriments.txt

      - name: run pytest
        run: |
          pytest test_app.py

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:

      - name: checkoutFiles
        uses: actions/checkout@v4
      
      - name: login to docker
        uses: docker/login-action@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN}}

      - name: build and deploy image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/book-manager:latest

